h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

body {
  font-family: "Courier New";
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #e6e6e6;
}

#headerItem {
  width: 190px;
	text-align:center;
}

#headerItemTitle {
  width: 520px;
	text-align:center;
}

#headerItemDescription {
  position: absolute;
  top: 100px;
  width: 98%;
  text-align: center;
}

th {
  width:100%;
  text-transform: uppercase;
  background-color: #45CEA2;
  overflow: hidden;
  font-weight:bold;
  color: black;
  height: 40px;
  vertical-align: center;
  padding(12 * 1.5) 0;
}

td {
  text-align:center;
	padding: (12 * 1.5) 0;
  border: 0px;
  height: 30px;
}

tr:nth-child(even) {
  background: #ffffff;
}

tr:nth-child(odd) {
  background: #e0e0e0;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.current) {
	background-color: #45CEA2;
}

.current {
	background-color: black;
	color: white;
	font-weight: bold;
}
